.sidebar {
  width: 60%;
  background-color: greenyellow;
  text-align: left;
  float: left;
}
body {
  background-color:yellow;
  text-align: left;
}
img {
  float: right;
}
.test-box {
  border: 2px solid black;
  padding: 6px;
}
