.sidebar {
  width: 60%;
  background-color: greenyellow;
  text-align: left;
  float: left;
  border: solid black;
}
body {
  background-color:yellow;
  text-align: left;
}
img {
  float: right;
}
.trendy {
  color:firebrick;
}
h1 {
  color: blue;
}